.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #111111; /*#111111*/

  flex-direction: row;
}

.VideoBox {
  width: 77%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  margin-top: 60px;
  flex-direction: column;
}
iframe {
  border-radius: 20px;
  width: 100%;
}
.InterFace {
  padding-top: 10px;
  width: 100%;
}
.MainTitle {
  padding-top: 10px;
  color: white;
}

.YoutuberIcon {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.ChannelIcon {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.ChannelTitle {
  color: white;
  padding-bottom: 2px;
}
.Sub {
  color: #bbbbbb;
  font-size: 0.9rem;
}

.Subscriber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  margin-left: 18px;
  border-radius: 30px;
  font-weight: 700;
  background-color: white;
}

.Subscriber:hover {
  background-color: rgb(203, 203, 203);
}

.DetailBox {
  margin: 15px 0px 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.VideoInterFace {
  display: flex;
  width: 26%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.Likebutton {
  background-color: rgba(62, 61, 61, 0.693);
  color: white;
  border-radius: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  justify-content: center;
}

.like {
  font-size: 2rem;
  margin: 0px 10px 0px 10px;
}
.like:hover {
  color: #bbbbbb;
}

.VideoIconBox {
  background-color: rgba(62, 61, 61, 0.693);
  color: white;
  padding: 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: 1.3rem;
}
.VideoIcon {
  margin-right: 10px;
}
.VideoText {
  font-size: 1.2rem;
  width: 100%;
  font-weight: 600;
  background-color: #484747;
  height: auto;
  margin-top: 30px;
  border-radius: 10px;
  padding: 20px;
  color: white;
}

.VideoTextHeader {
  margin-bottom: 10px;
}
.VideoMainText {
  line-height: 28px;
}

.VideosListBox {
  width: 23%;
  height: auto;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  transform: translateY(60px);
  border-bottom: 0.1px solid #bbbbbb;
}

.ChannelVideoBox {
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.ChannelVideoText {
  font-size: 1rem;
  padding: 2px 10px 2px 10px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.ChannelVideoImg {
  border-radius: 5px;
  width: 40%;
  height: 120px;
}

.VidoeListLogo {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ChannelVideoView {
  color: #bbbbbb;
  margin-top: 4px;
  font-weight: 500;
  font-size: 1rem;
}

.ChannelVideoBox:hover {
  background-color: #484747;
  border-radius: 10px;
}
