.container {
    width: 77%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111;/*#111111*/

    flex-direction: column;
}

.VideoBox {

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px; 
    margin-top: 60px;
    flex-direction: column;
}
iframe {
    border-radius: 20px;

}
.InterFace {
    padding-top: 10px;
    width: 100%;
}
.MainTitle {
    padding-top: 10px;
    color: white;
}

.YoutuberIcon {
    padding-top: 10px;
    display: flex;
    flex-direction: row;


}

.ChannelIcon {
width: 40px;
border-radius: 50%;
margin-right: 15px;
}

.ChannelTitle {
    color: white;
    padding-bottom: 2px;
}
.Sub {
    color: #bbbbbb;
    font-size: 0.9rem;
}

.Subscriber {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    margin-left: 18px;
    border-radius: 30px;
    font-weight: 700;
    background-color: white;

}

.Subscriber:hover {
    background-color: rgb(203, 203, 203);
}

.DetailBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.VideosinterFace {
    display: flex;
    align-items: center;
}