.VideoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 24px;
  padding: 90px 0px 0px 0px;
  margin: 0;
  background-color: #111111; /*#111111*/
}
.YoutubeImg {
  display: block;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.YoutubeVideo {
  width: 31%;
  height: 20%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.InterFaceBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  padding: 10px;
  color: white;
}
.Info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MainTitle {
  margin-top: 10px;
  line-height: 22px;
}
.channelName {
  margin-top: 6px;
  color: #bbbbbb;
}

.ChannelPhoto {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-right: 10px;
  border-radius: 50%;
}

.YoutubeVideo:hover {
  background-color: #484747;
  border-radius: 10px;
}
